

<!doctype html>
<title>Siemens Machine Learning</title>


<body style="background-color:WhiteSmoke;">



<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/css/uikit.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@3.6.11/dist/js/uikit-icons.min.js"></script>
<style>
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#upl {
  top: 70px;
  background-color: #1dbfbf;
}

#cam {
  top: 135px;
  background-color: #1dbfbf;
}

#about {
  top: 200px;
  background-color: #1dbfbf;
}

#gal {
  top: 265px;
  background-color: #1dbfbf;
}

</style>
</head>
<body>

<div id="mySidenav" class="sidenav">
    <a href="/" id="upl">Upload</a>
    <a href="livestream" id="cam">Livestream</a>
    <a href="info" id="about">Information</a>
	<a href="gallery" id="gal">Gallery</a>
</div>

<div style="margin-left:120px;">
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/Siemens-logo.svg/1200px-Siemens-logo.svg.png" alt="Siemens Logo" width='200'>
	<h0 style="font-size:10px;">Machine learning</h0>
</div>

<hr>

<div style="margin-left:120px;">
	<p>
		<h0 style="font-size:35px;">Information</h0>
	</p>
</div>

<div style="margin-left:120px;">
	<h0 style="font-size:24px;">This page shows the results of the used model on the test set. The test set consists purely of images that the learning model has not yet seen.</h0>
	<br></br>
</div>

<div style="margin-left:120px;">
	<div class="uk-child-width-1-6@m" uk-grid uk-lightbox="animation: slide">
		<div>
			<a class="uk-inline" href="TestResults/Test_0.JPG" data-caption="Caption 1">
				<img src="TestResults/Test_0.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 1.jpg" data-caption="Caption 2">
				<img src="TestResults/Test 1.jpg" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 2.jpg" data-caption="Caption 3">
				<img src="TestResults/Test 2.jpg" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 3.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 3.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 4.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 4.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 5.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 5.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 6.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 6.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 7.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 7.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 8.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 8.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 9.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 9.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 10.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 10.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 11.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 11.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 12.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 12.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 13.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 13.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 14.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 14.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 15.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 15.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 16.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 16.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 17.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 17.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 18.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 18.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 19.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 19.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 20.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 20.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 21.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 21.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 22.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 22.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 23.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 23.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 24.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 24.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 25.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 25.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 26.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 26.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 27.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 27.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 28.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 28.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 29.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 29.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 30.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 30.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 31.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 31.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 32.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 32.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 33.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 33.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 34.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 34.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 35.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 35.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 36.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 36.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 37.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 37.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 38.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 38.JPG" alt="">
			</a>
		</div>
		<div>
			<a class="uk-inline" href="TestResults/Test 39.JPG" data-caption="Caption 1">
				<img src="TestResults/Test 39.JPG" alt="">
			</a>
		</div>
		
	</div>
</div>

<hr>

<div style="margin-left:80px;">
	<img src="https://www.linkmagazine.nl/14_12_29/wp-content/uploads/haagse.jpg" alt="SMR Logo" width='700'>
</div>

</body>