<div class="container">
  <div class="row">
    <div class="col">
    
      <h1>Home</h1>
      <hr>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            
            <p align="left"><a href=livestream ><button class=grey style="height:75px;width:150px">start livestream</button></a>
            <a href=/ ><button class=grey style="height:75px;width:150px">upload image</button></a></p>
           <hr>
        </div>
    </div>
</div>
</body>



